name: CI

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v34

      - name: Nix Format Check
        run: nix fmt -- --ci

      - name: dprint format check
        uses: dprint/check@v2.3

      - name: Run CI
        run: nix flake check -L
